/*This file contains all css for how the page looks.*/
@font-face{
  src:url(./assets/fonts/Poppins-Regular.ttf);
  font-family:poppins;
}

#root,body,html{
  background:#9AECDB;
  height:100%;
  padding:0;
  margin:0;
  overflow:hidden;
  font-family:system-ui; 
  font-weight:600;
  font-size:16px;
}

.app{
  height:100%;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.credit{
 position:absolute;
 bottom:12px;
 left:20px;
 font-family:poppins; 
 font-weight:600;
 font-size:14px;
}

.upload-container{
  background-color:#ffffff;
  border-radius:25px;
  box-shadow:0px 20px 20px #2C3A4740;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}

.upload-section{
  width:500px;
  min-height:270px;
  border:2px dashed #58B19F;
  margin:25px;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  transition: all .2s ease-in-out;
}


.upload-animation{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.upload-text{
  padding-top:25px;
  font-weight:600;
  font-size:16px;
  font-family:'poppins','system-ui';
}

.file_input{
  display: none;
}

.uploadBtn{
  color:#29AB87;
  cursor:pointer;
}

.progressbar{
 width:500px;
 height:49px;
 border:2px solid #29AB87;
 margin-bottom:25px;
 border-radius:8px;
 position:relative;
 display:flex;
 flex-direction:column;
 display:none;
}

.status-container{
 -webkit-user-select: none; /* Safari */        
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.progressbar .bg-progress{
  background:#29AB8760;
  width:0%;
  height:100%;
  transform-origin:left;
  transition: width .25s linear;
  border-radius:1%;
  position:absolute;
}

.progressbar .progress-container{
  position:absolute;
  z-index:1;
  margin: 8px 10px;
  width:calc(100% - 20px);
}

.progress-container{
  font-size:14px;
  font-family:'poppins','system-ui';
  font-weight:400;
  margin:5px;
  opacity: 0.8;
}

.fg-progress{
  margin-top:3px;
  height: 4px;
  width:100%;
  background:#58B19F;
  border-radius:2px;
  transform-origin:left;
  transform: scaleX(0);
  transition: transform .25s linear;
}

.link-info{
  font-size:15px;
  font-family:'poppins','system-ui';
  font-weight:600;
}

.output .link-container{
  position:relative;
}

.output .link-container input{
  width:100%;
  border:2px dashed #A9BA9D;
  border-radius:5px;
  padding:10px 15px;
  box-sizing:border-box; 
  font-size:15px;
  font-family:'poppins','system-ui';
  font-weight:600;
  margin:5px;
  opacity: 0.8;
}

.output{
  width:500px;
  margin-bottom:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  display:none;
}

.output .link-container input{
  width:100%;
  border:2px dashed #58B19F;
  border-radius:6px;
  padding:10px 15px;
  box-sizing:border-box;
  background:#b2d3c2;
  color:#0000008c;
}

.link-container img{ 
  position:absolute;
  height:20px;
  width:30px;
  right:1px;
  top:16px;
  cursor:pointer;
  background: #C1DBCE;
  padding: 2px 2px 2px 2px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.close img{
  height:80px;
  width:40px;
  cursor:pointer;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select:none;
}

.alert{
  position:absolute;
  right:10px;
  padding:10px 20px;
  border-radius:5px;
  background:#58B19F;
  color:#fff;
  bottom:15px;
  transform:translate(-50% , 60px);
  transition:transform ease-in-out 0.2s;
  font-size:15px;
  font-family:'poppins','system-ui';
  font-weight:600;
 -webkit-user-select: none; /* Safari */        
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}




/* code for download page */

.download-icon{
  width:100px;
  height:120px;
  margin-bottom:10px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select:none;
 -webkit-user-select: none; /* Safari */        
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


.download-container{
  background-color:#ffffff;
  border-radius:25px;
  box-shadow:0px 20px 20px #2C3A4740;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}

section.download-section{
  width:500px;
  min-height:515px;
  border:2px dashed #58B19F;
  margin:25px;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  transition: all .2s ease-in-out;
}

.error-text{
  font-family:poppins; 
  font-weight:600;
  font-size:16px;
  padding-bottom:30px;
}

.download-text{
  font-family:poppins; 
  font-weight:600;
  font-size:16;
  padding-bottom:20px;
}

.download-meta{
  font-family:poppins; 
  font-weight:600;
  font-size:16px;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
  text-align:center;
}


.redirecLink{
  margin-top:10px;
  background:#55E6C1;
  color:#0000008c;
  border-radius:5px;
  padding:13px; 
  font-family:poppins; 
  font-weight:600;
  font-size:14px;
  text-decoration:none;
}


.downloadLink{
  margin-top:10px;
  background:#55E6C1;
  color:#0000008c;
  border-radius:5px;
  padding:13px; 
  font-family:poppins; 
  font-weight:600;
  font-size:14px;
  text-decoration:none;
}
