<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="icon" href="/assets/icons/logo96px.png" />
</head>

<body>   

    <div class="app">
        <div class="download-container">

         <section class="download-section">
             <% if(locals.error){ %>
                    <h4><%= locals.error%></h4>
                <% } else { %>

                <div class="download-meta">
                    <h4><%= fileName %></h4>
                    <small><%= parseInt(fileSize/1000) %> KB</small>
               </div>

                <h2 class="download-text">Your file is ready to download</h2>
                <div class="downloadBtn">
                 <a class="downloadLink" href="<%= downloadLink %>">Download file</a>
                </div>
                <% } %>
         </section>

        </div>

    </div>

</body>

</html>
