/*This file contains all css for how the page looks.*/
@font-face{
  src:url(Fonts/Poppins-Regular.ttf);
  font-family:poppins;
}

#root,body,html{
  background:#9AECDB;
  height:100%;
  padding:0;
  margin:0;
  font-family:system-ui; 
  font-weight:600;
  font-size:16px;
}

.app{
  height:100%;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.upload-container{
  background-color:#ffffff;
  border-radius:25px;
  box-shadow:0px 20px 20px #2C3A4740;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}

.upload-section{
  width:500px;
  min-height:270px;
  border:2px dashed #58B19F;
  margin:25px;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  transition: all .2s ease-in-out;
}


.upload-animation{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.upload-text{
  padding-top:25px;
  font-weight:600;
  font-size:16px;
  font-family:'poppins','system-ui';
}

.file_input{
  display: none;
}

.uploadBtn{
  color:#29AB87;
  cursor:pointer;
}

.progressbar{
 width:500px;
 height:60px;
 border:2px solid #29AB87;
 margin-bottom:25px;
 border-radius:8px;
 position:relative;
 display:flex;
 flex-direction:column;
 display:none;
}

.progressbar .bg-progress{
  background:#29AB8760;
  width:0%;
  height:100%;
  transform-origin:left;
  transition: width .25s linear;
  border-radius:1%;
  position:absolute;
}

.progressbar .progress-container{
  position:absolute;
  z-index:1;
  margin: 8px 10px;
  width:calc(100% - 20px);
}

.progress-container{
  font-size:14px;
  font-family:'poppins','system-ui';
  margin:5px;
  opacity: 0.8;
}

.fg-progress{
  margin-top:3px;
  height: 4px;
  width:100%;
  background:#58B19F;
  border-radius:2px;
  transform-origin:left;
  transform: scaleX(0);
  transition: transform .25s linear;
}
