#root,body,html{
  font-family:syste-ui;
  background:#9AECDB;
  height:100%;
  padding:0;
  margin:0;
}

.app{
  height:100%;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.upload-container{
  background-color:#ffffff;
  border-radius:25px;
  box-shadow:0px 20px 20px #2C3A4740;
}

.upload-section{
  width:500px;
  min-height:260px;
  border:2px dashed #58B19F;
  margin:25px;
  border-radius:20px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.folder{
  transition: all 0.2s ease-in;
}

.folder_back{
  position:relative; 
  width:100px;
  height:80px;
  background:#58B19F;
  border-radius:0px 5px 5px 5px;
}

.folder_back::after{
  position:absolute;
  bottom:98%;
  left:0;
  content:"";
  width:30px;
  height:10px;
  background:#58B19F;
  border-radius:5px 5px 0 0;
}

.folder_back .file{
  position:absolute;
  bottom:10%;
  left:50%;
  transform: translate(-50%,10%);
  width:70%;
  height:80%;
  background: #e6e6e6;
  border-radius:5px;
  transition: all 0.3s ease-in-out;
}

.folder_back .file:nth-child(2){
  background:#f2f2f2;
  width:80%;
  height:70%;
}

.folder_back .file:nth-child(3){
  background:white;
  width:90%;
  height:60%;
}

.folder_back .folder_front{
  position:absolute;
  width: 100%;
  height:100%;
  background:#55E6C1;
  border-radius:5px;
  transform-origin: bottom;
  transition: all 0.3s ease-in-out;
}

.folder:hover{
  transition:translateY(-8px);
}

.folder:hover .file{
  transform:translate(-50%,0%);  
}

.folder:hover .folder_front{
  transform:skew(15deg)scaleY(0.6);  
}

.folder:hover .right{
  transform:skew(-15deg)scaleY(0.6);  
}
